*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

header{
	width: 100%;
	background-image: url(../images/baner.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

#top{
    line-height: 300px;
	text-align: center;
	font-size: 80px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #00bfff, 0 0 40px #00bfff, 0 0 50px #00bfff, 0 0 60px #00bfff, 0 0 70px #00bfff;
  }
  to {
    text-shadow: 0 0 20px #ffffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff;
  }
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 7%;
	background: #1b1b1b;
}

nav ul{
	list-style: none;
	display: flex;
}

nav ul li{	
    margin: 0px 5px;
}

nav ul li a{	
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 1px 1px;
	border-radius: 5px;
	transition: all 0.8s ease;
}

nav ul li a:hover,
nav ul li a.active
{
	color: #1b1b1b;
	background: #fff;
}

article{
	width: 80%;
	margin: auto;
	text-align: left;
	padding-top: 80px;
	padding-bottom: 40px;
}

.scrollup{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background-image: url("../images/up.png");
	position: fixed;
	right: 50px;
	bottom: 190px;
	display: none;
}

footer{
	height: 180px;
	color: white;
	background-color: #000;
	width: 100%;
	margin: auto;
}

textarea {
  width: 400%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#slider{
	width: 33.3%;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
    justify-content: center;
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#zegar{
	font-size: 40px;
	width: 33.3%;
	float: left;
	line-height: 90px;
	display: flex;
    justify-content: center;
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.social{
	color: white;
	text-decoration: none;
}

#portals{
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
    justify-content: center;
	width: 33.3%;
	float: left;
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#yt{
	margin: 10px;
	width: 65px;
	height: 82px;
	background-color: #d94348;
	float: left;
}

#fb{
	margin:10px;
	width: 65px;
	height: 82px;
	background-color: #4668b3;
	float: left;
}

#tw{
	margin:10px;
	width: 65px;
	height: 82px;
	background-color: #3095d3;
	float: left;
}

#wykres{
	float: right; 
	margin: 6px; 
	height: 242px; 
	width: 572px; 
	padding: 10px;
}

p{
	color: #000;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	text-align: left;
}

.redtext{
	color: red;
}

.tabstr, .tabstr td{
	margin-left: auto;
    margin-right: auto;
    border: 5px solid #000;
    padding: 2px;
}

h2{
	text-align: center;
}

.tab{
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000;
    padding: 2px;
}

.tab tr, .tab td{
	border: 2px solid #000;
	padding: 2px;
}

code{
	font-size: 16px;
}

code ul{
	counter-reset: line; 
	list-style-type: none;
}
	
code li{
	counter-increment: line;
}
	
code li:before{
	content: counter(line);
	width: 15px;
	display: inline-block; 
	text-align: right;
}

.li{
	padding: 0px;
	line-height:120%;
}

.box {
    background: black;
    border-radius: 0px 4px 4px 0px;
    left: -304px;
    padding: 4px 4px 4px 0px;
    position: fixed;
    top: 150px;
    transition: transform 0.8s;
    width: 300px;
    border-radius: 10px;
}

.box:hover {
    transform: translateX(304px);
}

.box .box__content {
    background: yellow;
    min-height: 200px;
    padding: 10px;
    position: relative;
}

.box .box__title {
    background: cyan;
    border: solid black;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 4px 4px;
    cursor: default;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -74px;
    text-align: center;
    top: 70px;
    transform: rotate(-90deg);
    width: 106px;
	color: white;
	border-radius: 10px;
	text-shadow: black 0.1em 0.1em 0.2em
}

article ul li {
	font-size: 16px;
	padding: 5px;
}

article ul {
	padding: 15px;
}

button {
    display: inline-block;
    border: none;
	border-radius: 30px;
	font-weight: 800;
    padding: 1rem 2rem;
    margin: 0;
    background: grey;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: background 500ms ease-in-out;
}

button:hover,
button:focus {
    background: #383838;
}

button:active {
    transform: scale(0.97);
}


@media (max-width: 980px){
	
	button{
		margin-left: 40px;
	}
	
	#top{
		font-size: 50px;
	}

	nav ul{
		width: 100%;
		display: block;
	}
	
	nav ul li{
		margin: 40px 0;	
		text-align: center;
	}
	
	nav ul li a{
		font-size: 17px;	
	}
	
	nav ul li a:hover,
	nav ul li a.active
	{
		color: cyan;
		background: none;
	}
	
	article{
		position: relative;
		left: 5px;
		width: 100%;
		display: block;
		text-align: justify;	
	}
	
	footer{
		position: relative;
		height: 500px;
		width: 100%;
		display: block;
	}
	
	#zegar{
		font-size: 50px;
		width: 100%;
		line-height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 20%;
	}

	#portals{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		justify-content: center;
		position: relative;
		top: 40%;
	}
	
	#slider{
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;
		top: 55%;
	}
	
	#obrazek{
		max-width: 250px;
		max-height: 130px;
	}
	
	#wykres{
		height: 242px; 
		width: 372px; 
	}
	
	p{
		font-size: 10px;
		padding: 5px;
		margin-left: 50px;
		margin-right: 50px;
	}
	
	article ul.op li {
		font-size: 10px;
		padding: 5px;
		margin-left: 50px;
	}
	
	h4{
		margin-left: 50px;
		font-size: 10px;
	}
	
	h2{
		font-size: 15px;
	}
	
	.example{
		margin-left: 40px;
	}
	
	code{
		font-size: 10px;
		margin-right: 40px;
		margin-left: 40px;
	}
	
	canvas{
		font-size: 10px;
		margin-right: 10px;
		margin-left: 40px;
	}
	
	textarea{
		font-size: 5px;
		width: 300%;
		margin-right: 40px;
		margin-left: 40px;
	}
	
	#invisible{
		height: 0px;
	}
	
	.tabstr{
		margin-left: 50px;
		margin-right: 50px;
		font-size: 15px;
	}
	
	.tabstr td{
		font-size: 13px;
		text-align: left;
		padding: 5px;
	}
	
	.scrollup{
		background-image: none;
		bottom: 0px;
		display: none;
	}
	
	.box{
		display: none;
	}
	
}






